<a href="#" class="list-group-item clearfix row">
  <div class="pull-left ">
    <h4 class="list-group-item-heading">{{recipe.name}}</h4>
    <p class="list-group-item-text">{{recipe.description}}</p>
  </div>
  <div class="row">
    <div class="col-md-11">
      <span class="pull-right">
      <img class="img-responsive"
           src="{{recipe.imagePath}}"
           style="max-height: 50px;"/>
           </span>
    </div>
    <div class="col-md-1">
      <a href="#">
        <span class="pull-right glyphicon glyphicon-remove"></span>
      </a>
    </div>

  </div>

</a>