<div class="container fluid">
  <div class="row">
    <div class="col-xs-12">
      <img src="{{selectedRecipe?.imagePath}}" alt="" class="img-responsive" (click)="detailClicked()">
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12">
      <h1>{{selectedRecipe?.name}}</h1>
    </div>
    <div class="col-xs-12">
      <button class="btn btn-success">To Shopping List</button>
      <button class="btn btn-primary" (click)="edit()">Edit</button>
      <button class="btn btn-danger" (click)="delete()">Delete</button>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-6">
      <p>{{selectedRecipe?.description}}</p>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-6">
      <div *ngFor="let i of selectedRecipe?.ingradients">
        <div class="list-group-item">{{i.name}} ({{i.ammount}})</div>
      </div>
    </div>
  </div>
</div>